<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" href="./favicon.png">
    <title>Gamify</title>
</head>
<body>
<header>
    <h1>Top Games in 2019</h1>
    <p>Based on <a target="_blank" rel="noreferrer" href="https://rawg.io/">rawg.io</a></p>
</header>
<main>
    <div class="games">
        <div class="game">
            <picture>
                <source media="(max-width: 600px)" srcset="./images/dirt-rally-20-small.jpg">
                <img 
                    src='./images/dirt-rally-20-large.jpg' 
                    alt="dirt rally poster"></img>
            
            </picture>
            <h2>DiRT Rally 2.0</h2>
        </div>
        <div class="game">
            <picture>
                <source media="(max-width: 600px)" srcset="./images/life-is-strange-2-small.jpg">
                <img 
                    src='./images/life-is-strange-2-large.jpg' 
                    alt="life is strange 2 poster"></img>
            
            </picture>
            <h2>Life is Strange 2</h2>
        </div>
        <div class="game">
            <picture>
                <source media="(max-width: 600px)" srcset="./images/kingdom-heart-3-small.jpg">
                <img 
                    src="./images/kingdom-heart-3-large.jpg" 
                    alt="kingdom heart 3 poster"></img>
            
            </picture>
            <h2>Kingdom Heart III</h2>
        </div>
        <div class="game">
            <picture>
                <source media="(max-width: 600px)" srcset="./images/division-2-small.jpg">
                <img 
                    src="./images/division-2-large.jpg" 
                    alt="division 2 poster"></img>
            
            </picture>
            <h2>Tom Clancy's The Division 2</h2>
        </div>
    </div>
</main>
</body>
</html>
