<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" href="./favicon.png">
    <title>Gamify</title>
</head>
<body>
<header>
    <h1>Top Games in 2019</h1>
    <p>Based on <a target="_blank" rel="noreferrer" href="https://rawg.io/">rawg.io</a></p>
</header>
<main>
    <div class="games">
        <div class="game">
            <img src="./images/dirt-rally-20-large.jpg"
                 srcset="./images/dirt-rally-20-small.jpg 480w, ./images/dirt-rally-20-large.jpg 800w"
                 sizes="(max-width: 600px) 480px, 800px"
                 alt="dirt rally poster">
            <h2>DiRT Rally 2.0</h2>
        </div>
        <div class="game">
            <img src="./images/life-is-strange-2-large.jpg"
                 srcset="./images/life-is-strange-2-small.jpg 480w, ./images/life-is-strange-2-large.jpg 800w"
                 sizes="(max-width: 600px) 480px, 800px"
                 alt="life is strange 2 poster">
            <h2>Life is Strange 2</h2>
        </div>
        <div class="game">
            <img src="./images/1080w/kingdom-heart-3-large.jpg"
                 srcset="./images/kingdom-heart-3-small.jpg 480w, ./images/kingdom-heart-3-large.jpg 800w"
                 sizes="(max-width: 600px) 480px, 800px"
                 alt="kingdom heart 3 poster">
            <h2>Kingdom Heart III</h2>
        </div>
        <div class="game">
            <img src="./images/1080w/division-2-large.jpg"
                 srcset="./images/division-2-small.jpg 480w, ./images/division-2-large.jpg 800w"
                 sizes="(max-width: 600px) 480px, 800px"
                 alt="division 2 poster">
            <h2>Tom Clancy's The Division 2</h2>
        </div>
    </div>
</main>
</body>
</html>
