* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  padding: 12px;
}

main {
  padding: 12px;
}

h1 {
  font-weight: lighter;
  text-align: center;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 12px;
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.landscape-1 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 100%;
}

.landscape-2 {
  grid-row-start: 3;
  grid-row-end: 6;
  height: 100%;
}

.large {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 100%;
}
