* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #424242;
}

/*
 * Header
 *
 */

.header {
    min-height: 56px;
    transition: min-height 0.3s;
}

.header__inner {
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header__title {
    font-weight: 300;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #212121;
}

/*
 * Top level navigation
 */

.nav {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 24px;
    padding: 24px;
    text-transform: uppercase;
}

.nav a {
    text-decoration: none;
    color: #616161;
}

.nav a:hover {
    text-decoration: underline;
    color: #000;
}


/*
 * Jumbotron
 */

.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-color: green;
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.hero__tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}


/*
 * main
 */

main {
    width: 1200px;
    margin: 0 auto;
}

/*
 * content
 */

.content {
    padding: 32px;
}

/*
 * headline
 */

.headline {
    overflow: auto;
}

.headline__figure {
    width: 450px;
    float: left;
}

.headline__figure img {
    width: 100%;
}

.headline__figure figcaption {
    text-align: center;
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;
}

.headline__content {
    width: 600px;
    float: left;
    padding: 16px 32px;
}

.headline__title {
    font-size: 32px;
    font-weight: 500;
}

.headline__description {
    font-size: 16px;
    margin-top: 12px;
}

.headline__button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-top: 24px;
    cursor: pointer;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    transition: opacity 0.3s;
}

.headline__button:hover {
    opacity: 0.8;
}

/*
 * latest
 */

.latest {
    width: 1000px;
    margin: 60px auto;
    text-align: center;
}

.latest__label {
    font-size: 32px;
    font-weight: lighter;
}

.latest__label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/*
 * post
 */

.posts {
    margin: 32px auto auto;
    text-align: left;
    overflow: auto;
}

/*
 * post item
 */

.post-item {
    float: left;
    margin: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.post-item__content {
    padding: 16px 32px 32px 32px;
}

.post-item__thumbnail {
    width: 100%;
}

.post-item__date {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

.post-item__date__author {
    color: red;
    text-decoration: none;
}

.post-item__title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.post-item__title:hover {
    opacity: 0.5;
}

.post-item__title a {
    text-decoration: none;
    color: inherit;
}

.post-item__description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
}

/*
 * footer
 */

footer {
    background-color: #2c3e50;
    padding: 2em;
    width: 100%;
    text-align: center;
}

footer ul {
    margin: 0 auto;
    display: inline-block;
}

footer li {
    display: inline-block;
    margin: 0 1em;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #fff
}
