.posts {
  display: grid;
  grid-row-gap: 16px;
}

@media screen and (min-width: 700px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
}

@media screen and (min-width: 900px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}
