### JetBrains template
.idea

### VSCode template
.vscode

### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

### Additional directories
dist

### Additional files
package-lock.json
