* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header > h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

main > img {
    display: block;
    width: 100%;
}
