<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#DB0000"/>
  
  <link rel="icon" href="./favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  
  <title>Movie Catalogue</title>
</head>
<body>
<header class="app-bar">
  <div class="app-bar__menu">
    <button id="hamburgerButton">☰</button>
  </div>
  <div class="app-bar__brand">
    <h1>Movie Catalogue</h1>
  </div>
  <nav id="navigationDrawer" class="app-bar__navigation">
    <ul>
      <li><a href="#/now-playing">Now Playing</a></li>
      <li><a href="#/upcoming">Upcoming</a></li>
    </ul>
  </nav>
</header>
<main id="mainContent"></main>
<footer>
  <p>All data obtained from <a href="https://themoviedb.org" target="_blank" rel="noreferrer">TheMovieDB</a></p>
</footer>
</body>
</html>
